.eventPage {
  background-color: rgb(233, 230, 230);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.eventPageContainer {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.eventPageTop {
  display: flex;
  gap: 20px;
  width: 100%;
}

.eventPageImg {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  margin-right: 50px;
}

.eventPageInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  flex: 1;
}

.eventPageName {
  font-weight: bold;
  font-size: 30px;
}

.eventPageArtists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.eventPageLocation {
  color: #e84855;
}

.eventPageDateContainer {
  display: flex;
  align-items: center;
}

.eventPageDate {
  margin: 0 5px;
  color: #403f4c;
  font-size: 17px;
}

.eventPageTime {
  margin: 0 5px;
  color: #403f4c;
  font-size: 17px;
}

.eventPageMiddle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 30px;
  flex-direction: column;
}

.eventPageDesc {
  color: #2c2b30;
  font-weight: bold;
}

.eventPageRules {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.eventPageBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.eventPageBottomLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 50px;
}

.eventPageBottomRight {
  width: 400px;
  height: 400px;
  margin-left: 10px;
}

.eventPricesTitle {
  margin-bottom: 10px;
}

.eventPagePrices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.eventPagePrice {
  margin: 0 20px;
}
