.imageSlider {
  height: 100%;
  position: relative;
}

.imageSliderLeftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
  left: 32px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.imageSliderRightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
